# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Agenor Core Daemon SNAP
Comment=main
GenericName=Agenor Digital Currency Daemon Client main network
Exec=agenor-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/agenor.png
MimeType=x-scheme-handler/age;
Categories=X-Office;X-Finance;
Keywords=internet;agenor;zage;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
