# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Agenor Core
Comment=Agenor Core QT main network
GenericName=Agenor Digital Currency QT client main network
Exec=agenor-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/agenor.png
MimeType=x-scheme-handler/agenor;
Categories=X-Office;X-Finance;
Keywords=internet;agenor;zage;age;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
